{% if entry_list %}
    <table>
    <thead>
		<tr><th>Site</th><th>Offence Type</th><th>Sub-Contractor</th><th>Location</th><th>Recorded Time</th><th>Evidence</th><th>Description</th><th>Deadline</th><th>Name of Reporter</th></tr>
	</thead>
	<tbody id="offenceSummaryTableBody">
    {% for Offence_Entry in entry_list %}
	<tr>
		<td>{{ Offence_Entry.site }}</td>
		<td>{{ Offence_Entry.offence_type }}</td>
		<td>{{ Offence_Entry.sub_contractor }}</td>
		<td>{{ Offence_Entry.location }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No entries are available.</p>
{% endif %}